
header{
    text-align: center;
}

      .button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
      }

      button {
        padding: 10px 20px;
        padding-bottom: 20%;
        font-size: 16px;
        cursor: pointer;
        background-color: lightblue;
        border: none;
        color: darkslateblue;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        position: relative;  
        max-width: 600px;
        border-radius: 25px;
      }

body {
  text-align: justify;
} 

div.b {
  line-height: 1.6;
}

h2 {
  color: rgb(0, 0, 139);
  text-align: center;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(30, 143, 105);
}

p1 {
  margin-right: 100px;
  margin-left: 100px;
}

p{
  margin-right: 150px;
  margin-left: 80px;
  font-size: larger;
}

.fancy {
  position: relative;
  background-color: rgb(89, 173, 173);
  padding: 1.5rem;
  text-align: center;
  max-width: 600px;
  border-radius: 25px;
  padding: 20px;
  width: 600px;
  height: 100px;
  background-image: linear-gradient(to bottom right, lightseagreen, lightblue)
}


.fancy::before {
  content: "";

  position: relative;
  z-index: -1;
  bottom: 15px;
  right: 5px;
  width: 50%;
  top: 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  rotate: 4deg;
}

.container {
  height: 10em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

#content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

#content2 img {
  max-width: 80%;
  height: auto;
}